@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons');

* { margin: 0; padding: 0; }

:root {
	--color-key: #4e5f7b;
	--color-key-transparent: #4e5f7bd0;
	--color-key-light: #8f95a2;
	--color-key-text: #ffffff;
	--color-key-sub-text: #c0c0c0;
	--color-base: #ffffff;
	--color-base-dark: #eff7ff;
	--color-base-text: #4e5f7b;
	--color-page-blank: #313438;
	--color-page-blank-text: #ffffff;
	--color-page-back: #202020;
	--color-page-back-text: #ffffff;
	--color-error: #d04255;
	--color-error-text: #ffffff;
	--animation-speed-base: 0.3s;
	--animation-speed-fast: 0.2s;
	--animation-speed-loading: 1.0s;
	--animation-delay-loading: -0.4s;
}

/* common */

i {
	vertical-align: middle;
	user-select: none;
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a.link-button {
	display: block;
}

button {
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	color: inherit;
}

button, button i {
	user-select: none;
}

html {
	font-size: 16px;
	line-height: 1;
	font-family: sans-serif;
}

@media (min-width: 1200px) {
	html {
		font-size: 28px;
	}
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-key);
	color: var(--color-key-text);
}

#view {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.template {
	display: none;
}

/* header */

#header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	width: calc(100% - 0.6rem);
	padding: 0.4rem 0.3rem;
	border-bottom: solid 0.1rem var(--color-key-light);
	background-color: var(--color-key);
	color: var(--color-key-text);
}

.header-back-link i {
	font-size: 2.5rem;
	line-height: 0.8;
}

.header-title {
	margin: 0 0.3rem;
	word-break: break-word;
	flex-grow: 1;
}

.header-menu-button i {
	font-size: 2.5rem;
	line-height: 0.8;
}

/* list */

#list {
	position: relative; /* for list-loading-animation */
	flex-grow: 1;
	overflow-y: hidden;
}

/* list-container */

.list-container {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
	grid-auto-rows: max-content;
	height: 100%;
	overflow-y: scroll;
	visibility: hidden;
	opacity: 0;
	background-color: var(--color-base);
	will-change: transform;
}

.load-completed .list-container {
	transition: opacity var(--animation-speed-fast) steps(1, jump-end), visibility var(--animation-speed-fast) steps(1, jump-end);
}

.active.load-completed .list-container {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--animation-speed-fast);
}

.list-item {
	position: relative; /* for .list-item-inner */
	height: 0;
	padding-bottom: 100%;
}

.list-item-link {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.list-item-image-container, .list-item-description {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.list-item-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.list-item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	font-size: 3.2rem;
	color: var(--color-key);
}

.list-item-name-box {
	display: flex;
	box-sizing: border-box;
	width: calc(100% - 0.14rem);
	min-height: 30%;
	max-height: 45%;
	padding: 0.2rem;
	margin: 0 0.07rem;
	overflow: hidden;
	background-color: var(--color-base-dark);
	color: var(--color-base-text);
}

.list-item-name {
	width: 100%;
	margin: auto 0;
	text-align: center;
	word-break: break-word;
	font-size: 0.7rem;
}

.list-item.file-item .list-item-description {
	display: none;
}

.list-item.dir-item .list-item-image-container,
.list-item.dir-item .list-item-empty-icon {
	display: none;
}

.list-item.empty-item .list-item-image-container,
.list-item.empty-item .list-item-dir-icon {
	display: none;
}

.list-item.empty-item a {
	pointer-events: none;
}

.list-item.hidden-item .list-item-link {
	display: none;
}

/* list-loading-animation */

.list-loading-animation {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - 1.5rem);
	left: calc(50% - 1.5rem);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: var(--color-base);
	animation: loading-circle var(--animation-speed-loading) ease-in-out infinite var(--animation-delay-loading);
}

@keyframes loading-circle {
	0% { transform: scale(0); opacity: 1; }
	100% { transform: scale(1); opacity: 0; }
}

.load-completed .list-loading-animation {
	display: none;
}

.load-failed .list-loading-animation {
	background-color: var(--color-error);
	animation: error-circle var(--animation-speed-loading) ease-in-out;
}

@keyframes error-circle {
	0% { transform: scale(0); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

.load-failed .list-loading-animation::after {
	content: "!";
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-error-text);
}

.list-loading-description {
	position: absolute;
	top: calc(50% + 1.5rem);
	width: calc(100% - 2rem);
	padding: 1rem;
	text-align: center;
}

.load-completed .list-loading-description {
	display: none;
}

/* menu */

#menu {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	background-color: #000000b0;
}

#menu.interacted {
	transition: visibility var(--animation-speed-base), opacity var(--animation-speed-base);
}

#menu.expanded {
	visibility: visible;
	opacity: 1;
}

.menu-content {
	position: absolute;
	right: 0;
	min-width: 10rem;
	height: 100%;
	opacity: 0.8;
	transform: translateX(100%);
	background-color: var(--color-base-dark);
	color: var(--color-base-text);
	transition: transform var(--animation-speed-base) ease-out;
}

.expanded .menu-content {
	transform: translateX(0%);
}

/* pager */

#pager {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-30%);
}

#pager.interacted {
	transition: opacity var(--animation-speed-fast), transform var(--animation-speed-fast) ease-out, visibility var(--animation-speed-fast);
}

#pager.active {
	visibility: initial;
	opacity: 1;
	transform: translateY(0);
	pointer-events: initial;
}

.pager-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.pager-container.animated {
	transition: transform var(--animation-speed-fast);
}

.pager-page {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--color-page-back);
}

.pager-page.blank-page {
	background-color: var(--color-page-blank);
}

.pager-page-image-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.pager-page.blank-page .pager-page-image-container {
	display: none;
}

.pager-page-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.pager-page-stub {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 8rem;
	color: var(--color-page-back-text);
}

.pager-page-image-container.completed .pager-page-stub {
	opacity: 0;
}

.pager-page .toolbox {
	display: flex;
	align-items: center;
	width: calc(100% - 0.6rem);
	padding: 0.4rem 0.3rem;
	background-color: var(--color-key-transparent);
	color: var(--color-key-text);
}

#pager.interacted .pager-page .toolbox {
	transition: transform var(--animation-speed-base) ease-in-out;
}

.pager-page .toolbox.active {
	transform: translateY(0);
}

.pager-page-toolbox-top {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
}

.pager-page-toolbox-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateY(+100%);
}

.pager-page-back-link {
	flex-shrink: 0;
}

.pager-page-back-link i {
	font-size: 2.5rem;
	line-height: 0.8;
}

.pager-page-description {
	margin: 0 0.3rem;
	word-break: break-word;
	flex-grow: 1;
}

.pager-page-size {
	font-size: 0.6rem;
	margin-left: 0.4rem;
	color: var(--color-key-sub-text);
}

.pager-page-download-link {
	flex-shrink: 0;
}

.pager-page-download-link i {
	margin-right: 0.1rem;
	font-size: 1.8rem;
	line-height: 0.8;
}
